<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <ul class="routeLists">
        <%for (var i in linkData){%>
          <%if (linkData[i].indexOf('/canvas/static/') != -1){%>
          <li><a href="<%=linkData[i]%>"><%=i%></a></li>
          <%}else{%>
          <li><a href="<%=linkData[i]%>?pageTitle=<%=i%>"><%=i%></a></li>
          <%}%>
        <%}%>
    </ul>
  </body>
</html>
